@tailwind base;
@tailwind utilities;
@tailwind screens;

@import "~/assets/css/font-face";


*,
*::before,
*::after {
  transition: background-color 0.3s;
  font-family: 'Poppins', serif;
  font-feature-settings: 'ss01' on;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
.v-application {
  background: rgb(var(--background-color)) !important;
  overflow-x: hidden;
}


html,
body,
#app {
  width: 100vw;
  height: 100vh;
}